<style>
			
		p{ 
			font-family:roboto, ariel;
			background-color: grey;
			}
			
		.h1 {
			text-align: center;
			}
			
			.button {
				color: blue;
				background-color:yellow;
				font-family:roboto, ariel;
				box-shaddow: 5px,5px,5px,black;
				hover: cursor;
				align:top;
				}
				
			.profile-pic {
			display: block;
			flex: 1;
			width: 25px;
			height: 25px;
			border-radius: 5px;
			}
			
		.nav {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			width:100px;
			display: flex;
			background-color: grey;
		}
		
		.main {
			width: 200px;
			display: flex;
			padding-left: 100px;
		}
		
		</style>
