<style>
			
			.nav {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 50px;
			display: flex;
			background-color: grey;
			padding-bottom:50px;
		}
			
			.button {
				color: white;
				background-color:dark grey;
				font-family:roboto, arial;
				box-shaddow: 5px,5px,5px,black;
				hover: cursor;
				align:center;
				}
				
			.image {
			display: block;
			width: 10%;
			border-radius: 5px;
			}
			

		
		.main {
			font-family:roboto, arial;
			text-align: center;
			display: block;
			padding-top: 10px;
			padding-left: 10px;
			padding-right: 10px;
			}
		
		</style>
